src/main/resources/META-INF/mule-siebel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://www.mulesoft.org/schema/mule/siebel"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mule="http://www.mulesoft.org/schema/mule/core"
            xmlns:schemadoc="http://www.mulesoft.org/schema/mule/schemadoc"
            targetNamespace="http://www.mulesoft.org/schema/mule/siebel"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.mulesoft.org/schema/mule/core"
                schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />
    <xsd:import namespace = "http://www.mulesoft.org/schema/mule/schemadoc"
                schemaLocation = "http://www.mulesoft.org/schema/mule/schemadoc/3.1/mule-schemadoc.xsd"/>

    <xsd:annotation>
        <xsd:documentation>Siebel CRM Transport</xsd:documentation>
        <xsd:appinfo>
            <schemadoc:short-name>Siebel</schemadoc:short-name>
            <schemadoc:page-title>Siebel Transport</schemadoc:page-title>
            <schemadoc:transport-features
                receiveEvents="false" dispatchEvents="true"
                    requestEvents="true" transactions="false"
                    streaming="false">
                 <schemadoc:inboundMEPs in-only="false" in-optional-out="true" in-out="true"/>
                <schemadoc:outboundMEPs out-only="true" out-in="true" out-optional-in="true"/>
            </schemadoc:transport-features>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:element name="connector" type="siebelConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Siebel CRM Transport
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="polling-connector" type="siebelPollingConnectorType" substitutionGroup="mule:abstract-connector">
        <xsd:annotation>
            <xsd:documentation>
                Allows Mule to poll an external HTTP server and generate events from the result. This is useful for pull-only web services.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>


    <xsd:complexType name="siebelConnectorType">
        <xsd:complexContent>
            <xsd:extension base="mule:connectorType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="siebelPollingConnectorType">
        <xsd:complexContent>
            <xsd:extension base="siebelConnectorType">
                <xsd:attribute name="pollingFrequency" type="mule:substitutableLong">
                    <xsd:annotation>
                        <xsd:documentation>The time in milliseconds to wait between each request to the remote Siebel server.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="inbound-endpoint" type="inboundEndpointType" substitutionGroup="mule:abstract-inbound-endpoint"/>
    <xsd:complexType name="inboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:inboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="outbound-endpoint" type="outboundEndpointType" substitutionGroup="mule:abstract-outbound-endpoint"/>
    <xsd:complexType name="outboundEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:outboundEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="endpoint" type="globalEndpointType" substitutionGroup="mule:abstract-global-endpoint"/>
    <xsd:complexType name="globalEndpointType">
        <xsd:complexContent>
            <xsd:extension base="mule:globalEndpointType">
                <xsd:attributeGroup ref="addressAttributes"/>
                <xsd:attributeGroup ref="propertyAttributes"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:attributeGroup name="addressAttributes">
        <xsd:attribute name="host" type="xsd:string"/>
        <xsd:attribute name="port" type="xsd:string"/>
        <xsd:attribute name="path" type="xsd:string"/>
        <xsd:attribute name="user" type="xsd:string"/>
        <xsd:attribute name="password" type="xsd:string"/>
        <xsd:attribute name="service" type="xsd:string"/>
        <xsd:attribute name="method" type="xsd:string"/>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="propertyAttributes">

    </xsd:attributeGroup>

    <xsd:complexType name="remoteTransformerType">
        <xsd:complexContent>
            <xsd:extension base="mule:abstractTransformerType">
                <xsd:attribute name="siebel-connector-ref" type="xsd:string" use="required">
                    <xsd:annotation>
                        <xsd:documentation>
                            Set Siebel Connector.
                        </xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="xml-string-to-propset-remote-transformer" type="remoteTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Transform an XML into a SiebelPropertySet object use remote XML converter.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="xml-string-to-propset-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Transform an XML into a SiebelPropertySet object.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="encoded-string-to-propset-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Transform encoded string into a SiebelPropertySet object.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>

    <xsd:element name="propset-to-xml-string-remote-transformer" type="remoteTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Transform a SiebelPropertySet object into an XML use remote XML converter.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="propset-to-xml-string-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Transform a SiebelPropertySet object into an XML into.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="propset-to-encoded-string-transformer" type="mule:abstractTransformerType"
                 substitutionGroup="mule:abstract-transformer">
        <xsd:annotation>
            <xsd:documentation>
                Transform a SiebelPropertySet object into encoded string.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
</xsd:schema>
